@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

.container {
	position: relative;
	padding: 0px !important;
}

.container .card {
	margin: 30px auto;
	position: relative;
	width: 260px;
	height: 370px;
	background: #232323;
	border-radius: 20px;
	overflow: hidden;
}

.container .card .background-clip {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(150px at 80% 20%);
	transition: 0.5s ease-in-out;
}

.container .card:hover .background-clip {
	clip-path: circle(300px at 80% -20%);
}

.container .card .imgBx {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	z-index: 9;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}

.container .card:hover .imgBx {
	top: 0%;
	transform: translateY(0%);
}

.container .card .imgBx img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-15deg);
	width: 80%;
}

.container .card .contentBx {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	transition: 1s;
	z-index: 10;
}

.container .card:hover .contentBx {
	height: 140px;
}

.container .card .contentBx h2 {
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	margin: 0;
}

.container .card .contentBx .id {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.container .card .contentBx .id div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
}

.container .card:hover .contentBx .id {
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	color: white;
}

.container .card .contentBx button {
	padding: 6px 12px;
	background: #fff;
	border-radius: 8px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
	cursor: pointer;
}

.container .card:hover .contentBx button {
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.75s;
}
.icons {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(0, 0, 0, 0.766);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
.icons .icon {
	color: white;
	font-size: 25px;
}
