.search-page {
	width: 100%;
	max-height: 100vh;
	position: relative;
	z-index: 3;
	padding-top: 140px;
}
.search-bar {
	margin: auto;
	width: clamp(300px, 60vw, 600px);
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #e0e2e3;
	border-radius: 30px;
	position: relative;
}

.search-bar input {
	flex: 1;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 16px;
}

.search-bar button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	margin-left: 5px;
	color: #555;
	width: 60px;
}
.search-icon {
	width: 30px;
	height: 25px;
}
.headding-wrapper,
.card-wrapper {
	height: 440px;
}
.card-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headding {
	position: absolute;
	color: rgb(205, 200, 200);
	font-size: clamp(40px, 15vw, 70px);
	font-family: "BagelFatOne-Regular";
	left: 50%;
	top: 55%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
.headding.dull {
	opacity: 0.3;
}
.search-result {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: clamp(300px, 60vw, 600px);
	z-index: 10;
	min-height: 10%;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 10px;
	margin-top: 4px;
}
.search-result li {
	padding: 11px;
	width: 100%;
	background: rgba(181, 181, 181, 0.59);
	backdrop-filter: blur(3px);
	font-size: 20px;
	margin-top: 1px;
	font-weight: 600;
	cursor: pointer;
}
.button {
	padding: 12px;
	background: rgb(226, 226, 226);
	border-radius: 10px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}
