.App {
	text-align: center;
	background: rgb(39, 39, 39);
	width: 100%;
	height: 100vh;
	/* overflow: auto; */
	position: relative;
}
* {
	margin: 0px;
	padding: 0px;
}

.background-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: black;
	z-index: 0;
}
.background-layer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.2;
}

.headder {
	display: flex;
	z-index: 9999999;
	justify-content: space-between;
	/* padding: 50px 20px; */
	width: clamp(200px, 90vw, 900px);
	margin: auto;
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
	align-items: center;
	background: rgba(0, 0, 0, 0.524);
	backdrop-filter: blur(20px);
}
.headder .logo {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.headder .nav-links {
	display: flex;
	gap: 30px;
	cursor: pointer;
}
